@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f1f2f6 !important;
    overflow-x: hidden;
}

img {
    pointer-events: none;
}

h1 {
    font-weight: 600 !important;
}

.technopark h4 {
    font-weight: 600 !important;
}

.text-just {
    text-align: justify;
}

.line {
    display: block;
    width: 1px;
    height: 200px;
    background: #e6e6e6;
    margin: 0 0 0 22px;
}

.info {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    display: block;
    margin-bottom: 15px;
}

.count {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.1;
    color: var(--secondary);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-label {
    position: absolute;
    bottom: 80%;
    right: 25px;
    z-index: 1;
    display: inline-block;
    margin-inline-start: 100px;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: var(--bs-dark);
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    font-size: 9px;
    line-height: normal;
}

.tImg {
    width: 100% !important;
    display: block;
    height: auto !important;
    padding-top: 70px;
}

.menu-label.menu-label-primary {
    text-transform: inherit !important;
    color: white !important;
}

.menu-label:before {
    content: "";
    position: absolute;
    top: 100%;
    inset-inline-start: 10px;
    border: 4px solid var(--bs-dark);
    border-bottom-color: transparent !important;
    border-inline-end-color: transparent !important;
    border-inline-end-width: 7px;
    border-inline-start-width: 0;
}


.breadcrumbs.home {
    padding-bottom: 8px;
}

.c-black {
    color: #000;
}

.wrapper {
    display: block;
    width: 1220px;
    margin: 0 auto;
}


.header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_logo .slogan {
    color: black !important;
    font-size: 13px;
    border-left: 1px solid rgb(222 222 222 / 80%);
    color: #000;
    line-height: 15px;
    padding-left: 19px;
    margin-top: 6px;
    margin-left: 16px;
    padding-top: 5px;
    height: 40px;
    width: 200px;
    font-weight: 400;
}

.form-control {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black-2);
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0 !important;
    padding: 6px 0;
    transition: all .3s;
    outline: 0;
    z-index: 1;
    background: transparent;
    margin-bottom: 35px;
}

label {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    white-space: nowrap;
}


.btn {
    background: #00aeef;
    padding: 0.7rem 1.55rem;
    text-align: center;
    align-items: center;
    border: none;
    color: white;
}

form {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 70vh;
    width: 100%;
    position: relative;
    padding: 50px 85px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(38 38 38 / 4%) 0px 1px 2px, rgb(38 38 38 / 16%) 0px 4px 8px;
}

.header_logo .logo {
    display: inline-block;
    width: 185px;
    height: 45px;
    margin-top: 3px;
}

.header_logo .logo img {
    width: 100%;
    display: block;
}

.bg-green {
    background-color: #00aeef !important;
}

.text-white {
    color: white;
}

.avatar {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.avatar.avatar-50 {
    line-height: 50px;
    height: 45px;
    width: 45px;
}

.avatar .bi {
    color: white;
    position: relative;
}


.avatar .bi.bi-clock {
    top: 0;
    left: 0;
}


.avatar .bi.bi-thermometer-sun {
    top: 0px;
    left: 3px;
}

.avatar > i {
    display: inline-block;
    vertical-align: middle;
}


.fw-medium {
    font-weight: 600;
}

footer {
    opacity: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75em;
    z-index: 0;
    flex-shrink: 0;
    position: absolute;
    display: block;
    font-size: 14px;
    bottom: 50px;
    width: 100%;
}

.caseboxAds {
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 200px;
    width: 200px;
    position: relative;
    padding: 30px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(38 38 38 / 4%) 0px 1px 2px, rgb(38 38 38 / 16%) 0px 4px 8px;
}

.wTech {
    background-color: #0f0f0f;
    color: white;
}

.wTech p {
    font-size: 13px
}

.wTech h4 {
    font-weight: 200;
}

.casebox {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 200px;
    width: 100%;
    position: relative;
    padding: 30px 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(38 38 38 / 4%) 0px 1px 2px, rgb(38 38 38 / 16%) 0px 4px 8px;
}

.rounded-case {
    border-radius: 50%;
}

.infoTarif {
    position: relative;
    margin-top: -10px;
}

.casebox i {
    display: none;
}

.casebox:hover {
    background-color: #f1f2f6 !important;
    transition: all .8s ease-in-out;
    box-shadow: none;
    display: block !important;
}


.casebox
.price {
    font-size: 16px;
    font-weight: 300;
}

.casebox img {
    width: 50px;
    height: 50px;
}

.maps {
    margin-left: 25px;
}

.boxOne {
    margin-left: 22px;
}

.boxInfo {
    margin-left: 25px;
}

.rostreshenie {
    background-image: linear-gradient(0deg, #0141c3, #02217e);
    color: white;
}

header {
    box-shadow: 0 7px 13px -2px rgb(0 0 0 / 10%);
    background-color: white;
}

.history {
    box-shadow: 0px -8px 20px 0px rgb(86 82 82 / 10%)
}

.caseline {
    display: flex;
    position: absolute;
    padding-top: 40px;
}

.text-right {
    text-align: right;
}

.taxi {
    background-color: #ffde40;
    margin-left: 25px;
}

.qr-code {
    width: 200px;
    height: auto;
    left: 0px;
    bottom: 0;
    position: absolute;
    border-radius: 10px;
}

nav.menu {
    margin-top: 56px;

}

.caseboxAds h4 {
    font-size: 18px;
    font-weight: 500;
}

.develop h2 {
    font-weight: 100 !important;
    padding-bottom: 10px;
    font-size: 22px;
}

.partner {
    box-shadow: 0 7px 13px -2px rgb(0 0 0 / 10%);
}

.partner .logo {
    display: block;
}

.casebox h4 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
}

.casebox p {
    font-size: 14px;
    width: 100%;
    line-height: 15px;
    font-weight: 400;
}

.breadcrumbs a {
    color: black;
}

.breadcrumbs {
    color: black;
    padding-bottom: 20px;
}

.breadcrumbs span {
    color: gray;
}

img.icon_dir {
    width: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.blue_btn {
    background: #00aeef!important;
}
.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.5, transparent), to(transparent));
}

.breadcrumbs i {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 2%;
    padding: 0 5px;
}


.start h2 {
    font-weight: 100 !important;
    padding-bottom: 10px;
    font-size: 22px;
}

.soon {
    background-color: cornsilk !important;
}

.success_form {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: #00aeef;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 500;
}
.success_form > img {
    max-width: 312px;
    padding-bottom: 9rem;
}
.success_form > p {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: normal;
}
.start h1{
    color: white;
    max-width: 80%;
    text-align: center;
}
.left-info {
    background: white;
    padding: 20px;
    border-radius: 13px;
    height: auto;
}
 